a {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

div {
	display: block;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-family: "comic sans ms";
	font-weight: 800;
	font-size: 35px;
	margin-bottom: 20px;
	color: #f0a500;
	width: 100%;
	line-height: 50px;
}

p {
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
}

/*==================== LAYOUT ====================*/
.container {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

/*==================== BUTTONS ====================*/
.button {
	display: inline-block;
	background-color: #f0a500;
	color: #fff;
	padding: 1rem;
	border-radius: 0.5rem;
	font-weight: 500;
}

.button:hover {
	background-color: #e45826;
}

.button__icon {
	font-size: 1.25rem;
	margin-left: 0.5rem;
	transition: 0.3s;
}

.button--flex {
	display: inline-flex;
	align-items: center;
}

.button--link:hover {
	background-color: transparent;
	color: #e45826;
}

a.btn-orange {
	background: #e45826;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
}
a.btn-orange:hover {
	background: #f0a500;
	text-decoration: none;
	color: #000000;
}

/* css bagian header */

header {
	height: 65px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #000000;
}

nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	top: 0;
	background: #ffffff;
	z-index: 1;
	border-bottom: 2px solid #f0a500;
}

.header {
	width: 1100px;
	margin: auto;
	position: relative;
}

.logo {
	font-size: 40px;
	font-weight: 800;
	float: left;
	font-family: "Courier New", Courier, monospace;
	color: #f0a500;
}
.menu {
	float: right;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}
nav ul li a {
	color: #f0a500;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
}

.active-link {
	color: #000000;
}

nav ul li a:hover {
	color: #000000;
}

.nav__icon {
	font-size: 1.2rem;
	margin-left: 1rem;
}

/* css home content */

.container {
	margin: 0 auto;
}

.home_data {
	grid-column: 1/3;
}

section img {
	display: block;
	width: 600px;
}

.tengah {
	text-align: center;
	width: 100%;
}

section {
	height: 100vh;
	justify-content: space-between;
	align-items: center;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	margin-bottom: 10px;
}

p.deskripsi {
	font-size: 20px;
	font-weight: bold;
	font-family: "comic sans ms";
	color: #f0a500;
}

/* css member list */

.judul {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
}

.member-list {
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 20%;
	margin: 0 auto;
	justify-content: center;
	border-radius: 0.5rem;
}

.card img {
	width: 80%;
	justify-content: center;
	border-radius: 50%;
}

.card p {
	font-family: "comic sans ms";
	font-weight: 800;
	font-size: 25px;
	text-align: center;
	color: #f0a500;
}

.kota {
	font-family: "comic sans ms";
	font-weight: 100;
	font-size: 15px;
	text-align: center;
	color: #000000;
}

/*==================== CONTACT ME ====================*/
.contact__container {
	row-gap: 3rem;
}

.contact__information {
	display: flex;
	margin-bottom: 2rem;
}

.contact__icon {
	font-size: 2rem;
	color: #f0a500;
	margin-right: 0.75rem;
}

.contact__title {
	font-size: 1.125rem;
	font-weight: 500;
	font-family: "comic sans ms";
}

.contact__subtitle {
	font-size: 0.813rem;
	color: #f0a500;
	font-family: "comic sans ms";
}

.contact__content {
	background-color: #ffde98;
	border-radius: 0.5rem;
	padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
	font-size: 0.75rem;
	color: #f0a500;
}

.contact__input {
	width: 100%;
	background-color: #ffde98;
	color: #000000;
	font-family: "comic sans ms";
	font-size: 0.938rem;
	border: none;
	outline: none;
	padding: 0.25rem 0.5rem 0.5rem 0;
}

/*==================== FOOTER ====================*/
footer {
	padding: 20px;
	color: white;
	background-color: #000000;
	text-align: center;
	font-weight: bold;
	position: fixed;
	width: 100%;
	position: static;
}

/*==================== MEDIA QUERIES ====================*/

@media screen and (max-width: 991.98px) {
	.header {
		width: 90%;
	}

	.logo {
		display: block;
		width: 100%;
		text-align: center;
	}

	nav .menu {
		width: 100%;
		margin: 0;
	}

	nav .menu ul {
		text-align: center;
		margin: auto;
		line-height: 60px;
	}

	nav .menu ul li {
		display: inline;
		float: none;
	}

	section {
		display: block;
	}

	section img {
		display: block;
		width: 80%;
		height: auto;
	}

	.card {
		width: 50%;
	}

	.home_img {
		margin-top: 50%;
	}

	section img {
		display: block;
		width: 300px;
		justify-content: center;
	}
}

/* For small devices */
@media screen and (max-width: 350px) {
	.container {
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}

	.home_img {
		margin-top: 50%;
	}

	section img {
		display: block;
		width: 100px;
		justify-content: center;
	}
}
/* For medium devices */
@media screen and (min-width: 568px) {
	.home__content {
		grid-template-columns: max-content 1fr 1fr;
	}

	section img {
		display: block;
		width: 500px;
		justify-content: center;
	}

	.home__data {
		grid-column: initial;
	}

	.home__img {
		order: 1;
		justify-self: center;
		margin-top: 50%;
	}

	.contact__container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 768px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}

	body {
		margin: 0;
	}

	section {
		padding: 0 0 2rem;
	}

	.section__subtitle {
		margin-bottom: 4rem;
	}

	.header {
		top: 0;
		bottom: initial;
	}
}
/* For large devices */
@media screen and (min-width: 1024px) {
	.contact__form {
		width: 460px;
	}

	.contact__inputs {
		grid-template-columns: repeat(2, 1fr);
	}
}
